<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Task Tracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TaskTracker.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/site.css?v=WLH4sg5pxV2m0QFroNTuDzN4f7eSZWomNBxxXO_0lmU" />
    <link rel="stylesheet" href="/TaskTracker.styles.css?v=Uufk8BDnKC97VbTyC2PYk-gR2BF7CljhzWfag2oSl1A" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="page">
        <div class="sidebar">
             <partial name= "_NavBar"/>
        </div>

        <main>
            <div class="top-row px-4">
                <a >Login</a>
                <a >Sign Up</a>
            </div>

            <article class="content px-4">
                 <div>@RenderBody()</div>
            </article>
        </main>
    </div>
    <div>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>
