@model TaskTracker.Models.Task

@{
    ViewData["Title"] = "Create";
}
<div class="actionTitle">
   <h1>Create a New Task</h1> 
</div>



<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentTaskId" class="control-label"></label>
                <select asp-for="ParentTaskId" class="form-control" asp-items="ViewBag.ParentTask">
                    <option value="">--Select Main Task--</option>
                </select>
                <span asp-validation-for="ParentTaskId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReminderTime" class="control-label"></label>
                <input asp-for="ReminderTime" class="form-control" />
                <span asp-validation-for="ReminderTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" class="form-control" asp-items="ViewBag.Categories">
                    <option value="">--Select Category--</option>
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>

               
<form asp-action="Create" asp-controller="Category" method="post">
    <div class="form-group">
        <label for="name">Category Name</label>
        <input type="text" class="form-control" id="name" name="categoryName" required>
    </div>
    <button type="submit" class="btn btn-primary">Create Category</button>
</form>
       
            </div>
            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                <select asp-for="Priority" class="form-control" asp-items="ViewBag.Priorities">
                    <option value="">--Select Priority--</option>
                </select>
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" asp-items="ViewBag.Status" class="form-control">
                    <option value="">--Select Status--</option>
                 </select> 
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<hr />
<div class="actionTitle">
     <a asp-action="Index"><button class="btn create-botton"> Back to List </button></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

