@model TaskTracker.Models.Task

@{
    ViewData["Title"] = "Create";
}

<div class="actionTitle">
   <h1>Create a New Task</h1> 
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentTaskId" class="control-label"></label>
                <select asp-for="ParentTaskId" class="form-control" asp-items="ViewBag.ParentTask">
                    <option value="">--Select Main Task--</option>
                </select>
                <span asp-validation-for="ParentTaskId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss")" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss")" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReminderInterval" class="control-label"></label>
                <select asp-for="ReminderInterval" class="form-control">
                    <option value="">--Select Reminder--</option>
                    <option value="5 minutes">5 minutes before</option>
                    <option value="15 minutes">15 minutes before</option>
                    <option value="30 minutes">30 minutes before</option>
                    <option value="1 hour">1 hour before</option>
                    <option value="12 hours">12 hours before</option>
                    <option value="1 day">1 day before</option>
                </select>
                <span asp-validation-for="ReminderInterval" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" id="Category" class="form-control" asp-items="ViewBag.Categories">
                    <option value="">--Select Category--</option>
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#categoryModal">
                    + Category
                </button>
            </div>
            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                <select asp-for="Priority" class="form-control" asp-items="ViewBag.Priorities">
                    <option value="">--Select Priority--</option>
                </select>
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" asp-items="ViewBag.Status" class="form-control">
                    <option value="">--Select Status--</option>
                 </select> 
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label">Location</label>
                <select asp-for="Location" id="locationDropdown" class="form-control">
                    <option value="">--Select Location--</option>
                    <option value="San Marcos">San Marcos</option>
                    <option value="Round Rock">Round Rock</option>
                    <option value="Domain">Domain</option>
                    <option value="San Antonio">San Antonio</option>
                </select>
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <!-- Recurring Option -->
            <div class="form-group">
                <label asp-for="IsRecurring" class="control-label">Recurring</label>
                <select asp-for="IsRecurring" id="recurringDropdown" class="form-control">
                    <option value="">--Select Option--</option>
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                </select>
                <span asp-validation-for="IsRecurring" class="text-danger"></span>
            </div>
            <!-- Frequency Option -->
            <div class="form-group" id="frequencyDiv" style="display: none;">
                <label asp-for="Frequency" class="control-label">Frequency</label>
                <select asp-for="Frequency" class="form-control">
                    <option value="">--Select Frequency--</option>
                    <option value="Daily">Daily</option>
                    <option value="Weekdays">Weekdays</option>
                    <option value="Weekends">Weekends</option>
                    <option value="Weekly">Weekends</option>
                    <option value="Biweekly">Biweekly</option>
                    <option value="Monthly">Monthly</option>
                </select>
                <span asp-validation-for="Frequency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsGroupTask" class="control-label">Is Group Task</label>
                <select asp-for="IsGroupTask" id="groupTaskDropdown" class="form-control">
                    <option value="">--Select Option--</option>
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                </select>
                <span asp-validation-for="IsGroupTask" class="text-danger"></span>
            </div>

            <div class="form-group" id="shareWithDiv" style="display: none;">
                <label asp-for="SharedWithUsers" class="control-label">Share with</label>
                <select asp-for="SharedWithUsers" asp-items="@ViewBag.Users" multiple class="form-control">
                </select>
                <span asp-validation-for="SharedWithUsers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <table id="suggestedPlacesTable" class="table">
            <thead>
                <tr>
                    <th>Suggested Place</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<hr />
<div class="actionTitle">
     <a asp-action="Index"><button class="btn create-botton"> Back to List </button></a>
</div>

<!-- Modal -->
<div class="modal fade" id="categoryModal" tabindex="-1" aria-labelledby="categoryModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="categoryModalLabel">Create New Category</h5>
        <button type of="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="newCategoryForm" asp-action="Create" asp-controller="Category">
        <div class="modal-body">
            <div class="form-group">
                <label for="categoryName" class="col-form-label">Category Name:</label>
                <input type="text" class="form-control" id="categoryName" name="categoryName">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Save Category"/>
        </div>
      </form>
    </div>
  </div>
</div>

@section Scripts {
    <script>
    $(document).ready(function() {
        $('#recurringDropdown').change(function() {
            var selectedValue = $(this).val();
            if (selectedValue === "true") {
                $('#frequencyDiv').show();
            } else {
                $('#frequencyDiv').hide();
            }
        });

        $('#newCategoryForm').submit(function(event) {
            event.preventDefault(); 
            var formData = $(this).serialize(); 
            formData += '&returnJson=true';
            $.ajax({
                type: 'POST',
                url: '/Category/Create',
                data: formData,
                success: function(response) {
                    $('#Category').find('option:not(:first)').remove();
                    response.categories.forEach(function(category) {
                        $('#Category').append($('<option>', {
                            value: category.categoryName,
                            text: category.categoryName
                        }));
                    });
                    $('#categoryModal').modal('hide');
                    $('#formMessageContainer').html('<div class="alert alert-success" role="alert">Category successfully added.</div>');
                },
                error: function(response) {
                    alert("There was an error. Please try again.");
                }
            });
        });

        $('#groupTaskDropdown').change(function() {
            var selectedValue = $(this).val();
            if (selectedValue === "true") {
                $('#shareWithDiv').show();
            } else {
                $('#shareWithDiv').hide();
            }
        });

        $('#locationDropdown').change(function() {
            var selectedLocation = $(this).val();
            var selectedCategory = $('#Category').val(); // Assuming there's a dropdown with ID "Category"

            if (selectedLocation) {
                getSuggestedPlaces(selectedLocation, selectedCategory);
            } else {
                $('#suggestedPlacesTable tbody').empty();
            }
        });

        $('#Category').change(function() {
            var selectedLocation = $('#locationDropdown').val();
            var selectedCategory = $('#Category').val(); // Assuming there's a dropdown with ID "Category"

            if (selectedCategory) {
                getSuggestedPlaces(selectedLocation, selectedCategory);
            } else {
                $('#suggestedPlacesTable tbody').empty();
            }
        });

        // Define the getSuggestedPlaces function
        function getSuggestedPlaces(location, category) {
            $.ajax({
                url: '/Suggestion/GetSuggestedPlaces',
                type: 'GET',
                data: { location: location, category: category },
                success: function(response) {
                    $('#suggestedPlacesTable tbody').empty();
                    if (response && response.length > 0) {
                        response.forEach(function(place) {
                            $('#suggestedPlacesTable tbody').append('<tr><td>' + place.place + '</td><td>' + place.address + '</td></tr>');
                        });
                    } else {
                        $('#suggestedPlacesTable tbody').append('<tr><td colspan="2">No suggested places found.</td></tr>');
                    }
                },
                error: function() {
                    alert('Error occurred while fetching suggested places.');
                }
            });
        }
    });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
