@model TaskTracker.Models.Task

@{
    ViewData["Title"] = "Edit";
}


<div class="actionTitle">
    <h1>Edit Task</h1>
</div>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentTaskId" class="control-label"></label>
                <select asp-for="ParentTaskId" class="form-control" asp-items="ViewBag.ParentTask">
                <option value="">--Select Main Task--</option>
                </select>
                <span asp-validation-for="ParentTaskId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReminderTime" class="control-label"></label>
                <input asp-for="ReminderTime" class="form-control" />
                <span asp-validation-for="ReminderTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" class="form-control" asp-items="ViewBag.Categories">
                    <option value="">--Select Category--</option>
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#categoryModal">
                    + Category
                </button>

            </div>
            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                <select asp-for="Priority" class="form-control" asp-items="ViewBag.Priorities">
                    <option value="">--Select Priority--</option>
                </select>
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" asp-items="ViewBag.Status" class="form-control">
                    <option value="">--Select Status--</option>
                 </select> 
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<hr>
<br>
<div>
    <a asp-action="Index"><button class="btn create-botton"> Back to List </button></a>
</div>

<!-- Modal -->
<div class="modal fade" id="categoryModal" tabindex="-1" aria-labelledby="categoryModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="categoryModalLabel">Create New Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="newCategoryForm" asp-action="Create" asp-controller="Category">
        <div class="modal-body">
            <div class="form-group">
                <label for="categoryName" class="col-form-label">Category Name:</label>
                <input type="text" class="form-control" id="categoryName" name="categoryName">
            </div>
            <!-- Include other fields if necessary -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Save Category"/>
        </div>
      </form>
      <div id="formMessageContainer"></div>

    </div>
  </div>
</div>

@section Scripts {
    <script>
    $(document).ready(function() {
        $('#newCategoryForm').submit(function(event) {
            event.preventDefault(); 
            var formData = $(this).serialize(); 
            formData += '&returnJson=true';
            $.ajax({
                type: 'POST',
                url: '/Category/Create',
                data: formData,
                success: function(response) {
                $('#Category').find('option:not(:first)').remove();

             // Repopulate the dropdown with updated categories
            response.categories.forEach(function(category) {
                $('#Category').append($('<option>', {
                    value: category.categoryName,
                    text: category.categoryName
                    }));
                });
                $('#categoryModal').modal('hide');
                $('#formMessageContainer').html('<div class="alert alert-success" role="alert">Category successfully added.</div>');
                    },
                    error: function(response) {
                        // Handle error
                        alert("There was an error. Please try again.");
                    }
            });
        });
    });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
