@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<AppUser> signInManager

@{
    if (signInManager.IsSignedIn(User))
    {
        <div class="text-center">
             <h1 class="display-4">Welcome back,  @User.Identity!.Name </h1>
        </div>
    }
    else{
        <div class="text-center">
            <h1 class="display-4">Welcome to Task Tracker</h1>
            
        </div>
    }
}

