@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<AppUser> signInManager
@inject UserManager<AppUser> userManager

@{
    if (signInManager.IsSignedIn(User))
    {
        <div class="text-center">
             <h1 class="display-4">Welcome back !   @userManager.GetUserAsync(User).Result!.LastName, @userManager.GetUserAsync(User).Result!.FirstName  </h1>
        </div>
    }
    else{
        <div class="text-center">
            <h1 class="display-4">Welcome to Task Tracker</h1>
            
        </div>
    }
}

