html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

a{
  text-decoration: none;
  color: rgb(14, 75, 173);
}
.create-botton{
    background-color: white;
    border: 1px solid  #e5e5e5;
    border-radius: 5px;

}
.create-botton:hover{
  background-color: rgba(255, 255, 255, 0.341);
  color: rgb(14, 82, 192)
}

.dropDownList{
  background-color: white;
  border: 0.2px solid  #e5e5e5;
  border-radius: 10px; 
  padding: 3fx;
  margin-left: 1rem;
  
}
.dropDownList:hover{
background-color: rgba(255, 255, 255, 0.341);
color: rgb(14, 82, 192)
}


.filter{
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
}
.filter:hover{
background-color: rgba(255, 255, 255, 0.341);
color: rgb(14, 82, 192)
}

.toolBar{
  display: flex;
  padding-top: 1rem; 
}

.viewBar{
  display: flex; 
  justify-content: right;
}
.form-group{
  margin-top: 0.5rem;
}
.btn-primary{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.subTask-Indent{
  padding-left: 1rem;
}
