html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

a{
  text-decoration: none;
  color: rgb(14, 75, 173);
  font:bold;
}
.create-botton{
    background-color: white;
    border: 1px solid  #e5e5e5;
    border-radius: 5px;

}
.create-botton:hover{
  background-color: rgba(255, 255, 255, 0.341);
  color: rgb(14, 82, 192)
}

.dropDownList{
  background-color: white;
  border: 0.2px solid  #e5e5e5;
  border-radius: 10px; 
  padding: 3fx;
  margin-left: 1rem;
}
.dropDownList:hover{
background-color: rgba(255, 255, 255, 0.341);
color: rgb(14, 82, 192)
}


.filter{
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  
}
.filter:hover{
background-color: rgba(255, 255, 255, 0.341);
color: rgb(14, 82, 192)
}

.toolBar{
  display: flex;
  padding-top: 1rem; 
}

.viewBar{
  display: flex; 
  justify-content: right;
}
.form-group{
  margin-top: 1rem;
}
.btn-primary{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.subTask-Indent{
  padding-left: 1rem;
}
.actionTitle{
  margin: 2rem 0rem 2rem;
}
.warning{
  color: rgb(255, 0, 0);
}

.navbar-link, .nav-link a {
  font-size: 14px; /* Adjust the size as needed */
}
.nav-scrollable .nav-item .nav-link .navbar-link {
  font-size: 16px; /* Example of increasing specificity */
}
.loginContainer{
  padding: 8rem;
}
.link-login {
  color: #326eaa;
}
.status, .priority  {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: white;
  text-align: center;
  min-height: 20px;
}
.priority {
  width: 60px; 
}
.status {
  width: 90px; 
}

.low { background-color: #6DA9E4; }
.medium { background-color: #AACB73; }
.high { background-color: #FF6F5E; }
.urgent { background-color: #FF2171; }

.pending { background-color: #86C8BC; }
.in-progress { background-color: #2196F3; }
.complete { background-color: #4CAF50; }
.on-hold { background-color: #FF8C8C; }
.cancelled { background-color: #D9534F; }
.deferred { background-color: #F7A76C; }

.listItem{
   display: flex;
  justify-content: center;
  align-items: center;
}

.item-title{
  text-decoration: none;
  transition: color 0.3s, transform 0.3s;
  font-size: 1.5rem;
  border-style: solid;
  border-color: lightgray;
  border-width: 1px; 
  border-radius: 0.5rem;
  padding: 0.5rem;
  white-space: nowrap;
}


.item-title:hover {
  text-decoration: none;
  background-color: #2196F3;
  color: white;
 
}
.task-detail{
  height: 3rem;
 
}
